nav .brand-logo {
    color: #000000
}

@media only screen and (max-width: 992px) {
nav .brand-logo {
    font-size: 1.5rem
}
}

.nav-link {
    color: #000000
}

.nav-link-selected {
    color: #000000;
}

.row {
    margin-bottom: 10px
}

.underline {
    border-bottom: dashed 2px #80cbc4
}

.font-bold {
    font-weight: bold
}

body {
    background-image:url(../images/bg_image.jpg);
    background-position:right top;
}

html {
    font-size: 16px
}
nav {
    box-shadow: none;
}

nav a {
    color: #000000
}

nav ul a {
    color: #000000
}

h5 {
    margin-bottom: 1rem
}

.modal.modal-fixed-footer {
    top: 1% !important;
    height: 98%;
    width: 80%;
    max-height: 100%;
}

@media only screen and (max-width: 992px) {
    .modal.modal-fixed-footer {
        top: 20% !important;
        height: 50%;
    }
}

.modal.modal-fixed-footer .modal-content {
    overflow-y: hidden;
}

.image-in-modal {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}
