.nav-link {
    color: #000000
}

.nav-link-selected {
    color: #000000;
}

.row {
    margin-bottom: 10px
}

nav {
    box-shadow: none;
}

nav a {
    color: #000000
}

nav ul a {
    color: #000000
}

h5 {
    margin-bottom: 1rem
}